body{
    background-color: rgb(26, 26, 54);
    color: rgb(255, 255, 255);
    font-family: Tahoma;
    padding-left: 20px;
}
h1{
    text-align: center;
}
label{
    display: block;
    margin: 0.9rem 0;
}
p{
    text-align: center;
}
fieldset{
    padding-left: 10px;
    border: none;
    border-bottom: 3px solid #64646e;
}
.submit{
    text-align: center;
  }