body{
    background-image: linear-gradient(to bottom right, rgb(21, 11, 94), rgb(59, 57, 94));
    color: rgb(232, 225, 225);
    font-family: Tahoma;
    padding-left: 20px;
}
h1{
    text-align: center;
}
label{
    display: block;
    margin: 0.9rem 0;
}
p{
    text-align: center;
}
fieldset{
    padding-left: 10px;
    border: none;
    border-bottom: 3px solid #64646e;
}
#grad {
    background-image: linear-gradient(to bottom right, red, yellow);
  }